@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?upvu4w');
    src: url('../assets/fonts/icomoon.eot?upvu4w#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?upvu4w') format('truetype'),
    url('../assets/fonts/icomoon.woff?upvu4w') format('woff'),
    url('../assets/fonts/icomoon.svg?upvu4w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-magic:before {
    content: "\f0d0";
}

.icon-chevron-down:before {
    content: "\f078";
}

.icon-heart:before {
    content: "\f004";
}

.icon-plus:before {
    content: "\f067";
}

.icon-twitter:before {
    content: "\f099";
}

.icon-user-secret:before {
    content: "\f21b";
}

.icon-hand-peace-o:before {
    content: "\f25b";
}

.icon-48px {
    font-size: 48px;
}

.icon-36px {
    font-size: 36px;
}

.icon-24px {
    font-size: 24px;
}