.idea
/node_modules
*.iml
/public/.sass-cache/
/public/app/styles/main.css.map
/public/bower_components/bulma/
/public/bower_components/smooth-scroll/
!/public/bower_components/smooth-scroll/dist/js/smooth-scroll.js
