.idea
/node_modules
*.iml
/public/.sass-cache/
/app/styles/main.css.map
/bower_components/bulma/*
!/bower_components/bulma/bulma.sass
!/bower_components/bulma/package.json
!/bower_components/bulma/sass
/bower_components/smooth-scroll/*
!/bower_components/smooth-scroll/dist/js/smooth-scroll.js
!/bower_components/smooth-scroll/package.json
/bower_components/conditionizr/*
!/bower_components/conditionizr/package.json
!/bower_components/conditionizr/detects/mac.js
!/bower_components/conditionizr/detects/windows.js
!/bower_components/conditionizr/detects/linux.js
!/bower_components/conditionizr/dist/conditionizr.js
/redige-website.iml
