.idea
/node_modules
*.iml
/public/.sass-cache/
/public/app/styles/main.css.map
/public/bower_components/bulma/*
!/public/bower_components/bulma/bulma.sass
!/public/bower_components/bulma/package.json
!/public/bower_components/bulma/sass
/public/bower_components/smooth-scroll/*
!/public/bower_components/smooth-scroll/dist/js/smooth-scroll.js
!/public/bower_components/smooth-scroll/package.json
/public/bower_components/conditionizr/*
!/public/bower_components/conditionizr/package.json
!/public/bower_components/conditionizr/detects/mac.js
!/public/bower_components/conditionizr/detects/windows.js
!/public/bower_components/conditionizr/detects/linux.js
!/public/bower_components/conditionizr/dist/conditionizr.js