.footer {
  a.twitter {

    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 0;

    span {
      color: $rdg-light-blue;

      &:hover {
        color: darken($rdg-light-blue, 5%);
      }
      &:active {
        color: darken($rdg-light-blue, 10%);
      }

    }

  }
}