
.rdg-nav {
  position: absolute;
  width: 100%;
  z-index: 20;
  background-color: transparent;
  .nav-item a:hover, a.nav-item:hover {
    color: #fff;
  }
}

.nav-item img.rdg-logo {
  max-height: 30px;
}
