.section {
  padding-top: 70px;

  &.is-lightblue {
    background-color: $rdg-light-blue;
    color: white;

    .title, .subtitle {
      color: white;
    }

    &.is-bold {
      $gradient-top-left: darken(saturate(adjust-hue($rdg-light-blue, -10deg), 10%), 10%);
      $gradient-bottom-right: lighten(saturate(adjust-hue($rdg-light-blue, 10deg), 5%), 5%);
      background-image: linear-gradient(141deg, $gradient-top-left 0%, $rdg-light-blue 43%, $gradient-bottom-right 100%);
    }
  }

  &.is-darkblue {
    background-color: $rdg-dark-blue;
    color: white;

    .title, .subtitle {
      color: white;
    }

    &.is-bold {
      $gradient-top-left: darken(saturate(adjust-hue($rdg-dark-blue, -10deg), 10%), 10%);
      $gradient-bottom-right: lighten(saturate(adjust-hue($rdg-dark-blue, 10deg), 5%), 5%);
      background-image: linear-gradient(141deg, $gradient-top-left 0%, $rdg-dark-blue 43%, $gradient-bottom-right 100%);
    }
  }

}

.column-flex-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
}

.section .container .heading {
  margin-bottom: 50px;
}

#features [class^="icon-"] {
  color: $rdg-dark-blue;
  margin-right: 9px;
}