.rdg-little-margin {
  margin: 5px;
}

.rdg-small-margin {
  margin: 10px;
}

.rdg-medium-margin {
  margin: 20px;
}

.rdg-large-margin {
  margin: 30px;
}

.rdg-big-margin {
  margin: 40px;
}

/* Side margins */

.rdg-little-side-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.rdg-small-side-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.rdg-medium-side-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.rdg-large-side-margin {
  margin-left: 30px;
  margin-right: 30px;
}

.rdg-big-side-margin {
  margin-left: 40px;
  margin-right: 40px;
}

/* TopBottom margin */

.rdg-little-topbottom-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.rdg-small-topbottom-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rdg-medium-topbottom-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rdg-large-topbottom-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.rdg-big-topbottom-margin {
  margin-top: 40px;
  margin-bottom: 40px;
}